body {
    background-color: #00FFBF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    overscroll-behavior: none;
    text-align: center;
}

#info {
    height: 70px;
    overflow: auto;
    background-color: rgb(255, 0, 212);
    font-family: monospace;
    font-size: 14px;
    white-space: pre;
    color: black;
}
.label {
    height: 50vh;
    width: 75vh;
    color: black;
    overflow: auto;
    font-family: sans-serif;
    white-space: pre;
    text-align: left;
    padding: 2px;
    background: rgba(210, 215, 211, 0.5);
}