body {
    background-color: #00FFBF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    overscroll-behavior: none;
    text-align: center;
}

#info {
    height: 70px;
    overflow: auto;
    background-color: rgb(255, 0, 212);
    font-family: monospace;
    font-size: 14px;
    white-space: pre;
    color: black;
}