body {
    background-color: aquamarine;
    font-family: monospace;
    font-size: 13px;
    overscroll-behavior: none;
    text-align: center;
}

#info {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}