<!DOCTYPE html>
<html>
<head>
  
</head>

<body>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.address %> - <%= r.st_x %> - <%= r.st_y %></li>
    <% }); %>
</ul>

</div>

</body>
</html>